* {
    padding: 0px;
    margin: 0px;
}
.header {
    text-align: center;
    background-color: #2975a9;
    color: white;
    padding: 20px;

}

.header p {
    font-weight: bold;
}


.logo 
{
    margin-top: 20px;
    margin-left: 120px;
    display: flex;
}

.syi_logo img 
{
    width: 15%;
    padding-top: 10px;
}

.phone {
    margin-top: 20px;
    margin-right: 60px;
    margin-left: 0;
    font-size: large;
    display: flex;

}
.phone_no
{
    margin-top: 20px;
    margin-left: 0;
}
.phone_no p
{
    font-size: larger;
    color: black;
    padding-left: 3px;
}


.email {
    margin-top: 20px;
    margin-right: 50px;
    margin-left: 0;
    display: flex;
}

.email p {
    font-size: larger;
    color: black;
    padding-left: 3px;
}

.mobile_btn {
    display: none;
}
.topnav
{
    display: none;
}
.navbar_items 
{
    display: flex;
    list-style-type: none;
    margin-top: 60px;
    background-color: #2975a9;
    padding: 20px;

}

.navbar_items li a {
    margin-left: 100px;
    color: white;
    text-decoration: none;
    font-size: larger;
}

/*  */
li a:hover {
    background-color: white;
    color: orange;
    height: 60px;

}

.navbar_container .navbar_items .navbar_btn .bts {


    background-color: #2975a9;
    border: none;
    color: white;
    font-size: larger;
    margin-left: 500px;

}

.navbar_container .navbar_items .navbar_btn .bts :hover {
    background-color: white;
    color: black;
}


/*  */
li a:hover {
    background-color: white;
    color: orange;
    height: 60px;

}

.navbar_container .navbar_items .navbar_btn .bts {


    background-color: #2975a9;
    border: none;
    color: white;
    font-size: larger;
    margin-left: 500px;

}

.navbar_container .navbar_items .navbar_btn .bts :hover {
    background-color: white;
    color: black;
}

.container h1{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
.cardview_container{
    display: grid;
    grid-template-columns: 33% 33% 33%;
   
}
.cardview1{
    text-align: center;
    margin-bottom: 40px;
}
.cardview2{
    text-align: center;
    margin-bottom: 40px;
}
.cardview3{
    text-align: center;
    margin-bottom: 40px;
}
.main_container{
    margin-top: 30px;
    margin-bottom: 30px;
}
.gobal_heading{
    text-align: center;
}
.gobal_heading p{
    color: gray;
}
.gobal_img{
    display: grid;
    grid-template-columns: 50% 50%;
}
.img1 img{
    margin-left: 50%;
}
.counter{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 60px;
}
.ques {
    text-align: center;
}

.question {

    padding-left: 200px;
    padding-right: 200px;

}

.question p {
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bolder;
    color: black;

}

.questionoff {
    display: flex;
    padding-left: 250px;
    padding-top: 20px;


}

.questionon {
    display: none;
    padding-left: 200px;
    padding-right: 200px;

}

.questionon p {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;

}
.question1 {

    padding-left: 200px;
    padding-right: 200px;

}

.question1 p {
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bolder;
    color: black;

}

.questionoff1 {
    display: none;

}

.questionon1 {
    display: flex;
    padding-left: 200px;
    padding-right: 200px;

}

.questionon1 p {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;

}
.question2 {

    padding-left: 200px;
    padding-right: 200px;

}

.question2 p {
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bolder;
    color: black;

}

.questionoff2 {
    display: none;

}

.questionon2 {
    display: flex;
    padding-left: 200px;
    padding-right: 200px;

}

.questionon2 p {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;

}
.question3 {

    padding-left: 200px;
    padding-right: 200px;

}

.question3 p {
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bolder;
    color: black;

}

.questionoff3 {
    display: none;

}

.questionon3 {
    display: flex;
    padding-left: 200px;
    padding-right: 200px;

}

.questionon3 p {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
   

}
.box_container{
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: orange;
    width: 90%;
    margin-left: 60px;
    border-radius: 20px;
   
}
.box_info{
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    color: white;
}
.box_btn{
    margin-left: 280px;
    margin-top: 50px;
}
.box_btn button{
    border: none;
    background-color: black;
    color: white;
    height: 50px;
    width: 200px;
    border-radius: 50px;
}
.footer {
    background-color: black;
    color: white;
    padding: 80px 40px;


}

.section {

    display: flex;
}

/* COL1 */
.col1 h4 {
    color: #ffffff;
    font-family: "Poppins", Sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 3;
}

.col1 {

    margin-left: 80px;
    font-size: 14px;
}

.col1 a {
    text-decoration: none;
    color: white;
}

/* col2 */
.col2 h4 {
    color: #ffffff;
    font-family: "Poppins", Sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 3;
}

.col2 {
    margin-left: 80px;
    font-size: 14px;
    color: white;
}

/* col3 */
.col3 h4 {
    color: #ffffff;
    font-family: "Poppins", Sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 3;

}

.col3 {
    margin-left: 60px;
    font-size: 14px;
    color: white;
    width: 180px;
}

/* col4 */
.col4 h4 {
    color: #ffffff;
    font-family: "Poppins", Sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 3;
}

.col4 {
    margin-left: 60px;
    font-size: 14px;
    color: white;
    width: 180px;
}

/* col5 */
.col5 h4 {
    color: #ffffff;
    font-family: "Poppins", Sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 3;
}

.col5 {
    margin-left: 60px;
    font-size: 14px;
    color: white;
    width: 280px;
}

.searchbar {
    display: flex;
}

.ftr_searchbar {
    border-radius: 25px 0px 0px 25px;
    border: 0px;
    padding-left: 10px;
    width: 120px;
    font-size: small;
}

.ftr_submit {
    width: 30px;
    background-color: #F9D342;
    height: 30px;
    border-radius: 0px 25px 25px 0px;
    border: 0px;
}

.followus {
    color: #ffffff;
    font-family: "Poppins", Sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 3;
}

.ftr_logos {
    font-size: 25px;
    word-spacing: 15px;
}

.lt_ftr_logos {
    font-size: 25px;
    word-spacing: 15px;
}






























@media (max-width:576px) {
    .header {
        text-align: center;
        background-color: #2975a9;
        color: white;
        width: 100%;
        
       



    }

    .header p {
        font-weight: bold;
    }

    .navbar_container {
        display: none;
    }

    .phone {
        display: none;
    }

    .email {
        display: none;
    }

    .syi_logo {
        display: none;
    }

    .about1 {
        background-color: whitesmoke;


    }

    .topnav {
        overflow: hidden;
        background-color: gray;
        position: relative;
        display: block;
        margin-top: 0;
        
        width: 100%;
        top: -20px;

    }

    /* Hide the links inside the navigation menu (except for logo/home) */
    .topnav #myLinks {
        display: none;
    }

    /* Style navigation menu links */
    .topnav a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
    }

    /* Style the hamburger menu */
    .topnav a.icon {
        background: black;
        display: block;
        position: absolute;
        right: 10px;
        top: 0;
        margin-top: 15px
    }

    /* Add a grey background color on mouse-over */
    .topnav a:hover {
        background-color: #ddd;
        color: black;
    }

    /* Style the active link (or home/logo) */
    .active {
        background-color: whitesmoke !important;
        color: white;
    }

    .sticky+.header {
        padding-top: 60px;
    }

    .box {
        width: 100%;

        display: grid;
        /* grid-template-rows: 270px 20px; */
        grid-template-columns: 100%;
        padding: 0;

        /* text-align: center; */
        height: 100%;

    }

    .box1 {
        padding-top: 20px;

        background-color: whitesmoke;

    }

    .box1 h3 {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .box2 {
        padding-top: 10px;

        background-color: whitesmoke;
    }

    .box2 h3 {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .box3 {
        padding-top: 20px;

        background-color: whitesmoke;
    }

    .box3 h3 {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .container{
        display: block;
    }
    .container h1
    {
        font-size: 40px;
        margin: 0;
        margin-bottom: 40px;
    }

    .cardview_container{
        grid-template-columns: 100%;
    }
    .cardview1{
        margin-bottom: 40px;
    }
    .cardview2{
        margin-bottom: 40px;
    }
    .cardview3{
        margin-bottom: 40px;
    }
    .gobal_img{
        display: grid;
        grid-template-columns: 100%;
    }
    .img1 img{
        width: 60%;
        margin-left: 80px;
    }
    .img2 img{
        width: 60%;
        margin-left: 80px;
    }
    .counter{
        grid-template-columns: 100%;
        margin-top: -20px;
        
    }
    .ques{
        
        text-align: center;
        
    }
    
    .question{
        padding-left: 0px;
        margin-left: 50px;
        padding-right: 0px;
        width: 75%;
       

    }
    .question p {
        padding-left: 0px;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
        color: black;
    
    }
    .questionoff {
        display: flex;
        padding-left: 0px;
        padding-top: 0px;
        width: 75%;
        margin-left: 50px;
    
    
    }
    .questionon {
        display: none;
        padding-left: 0px;
        padding-right: 0px;
    
    }
    
    .questionon p {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 0px;
        width: 75%;
        margin-left: 50px;
    
    }
    .question1 {
        width: 75%;
        margin-left: 50px;
        padding-left: 0px;
        padding-right: 0px;
    
    }
    
    .question1 p {
        padding-left: 0px;
        padding-top: 10px;
        padding-bottom: 10px;
        
        color: black;
        text-align: center;
    
    }
    
    .questionoff1 {
        display: none;
    
    }
    
    .questionon1 {
        width: 75%;
        display: flex;
        padding-left: 0px;
        padding-right: 0px;
        margin-left: 50px;
    
    }
    
    .questionon1 p {
        width: 75%;
        padding-top: 0px;
        padding-bottom: 20px;
        padding-left: 0px;
    
    }
    .question2 {
        width: 75%;
        padding-left: 0px;
        padding-right: 0px;
        margin-left: 50px;
    
    }
    
    .question2 p {
        padding-left: 0px;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
        color: black;
    
    }
    
    .questionoff2 {
        display: none;
    
    }
    
    .questionon2 {
        width: 75%;
        display: flex;
        padding-left: 0px;
        padding-right: 0px;
        margin-left: 50px;
    
    }
    
    .questionon2 p {
        padding-top: 0px;
        padding-bottom: 20px;
        padding-left: 0px;
    
    }
    .question3 {
        width: 75%;
        margin-left: 50px;
 
        padding-left: 0px;
        padding-right: 0px;
    
    }
    
    .question3 p {
        padding-left: 0px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-weight: bolder;
        color: black;
    
    }
    
    .questionoff3 {
        display: none;
    
    }
    
    .questionon3 {
        width: 75%;
        margin-left: 50px;
        display: flex;
        padding-left: 0px;
        padding-right: 0px;
    
    }
    
    .questionon3 p {
        padding-top: 0px;
        padding-bottom: 20px;
        padding-left: 0px;
    
    }
    
    .footer {
        background-color: black;
        color: #fff;
        display: block;

    }

    .section {
        display: block;
    }

    .col1 {
        padding: 5px 10px;
        margin-left: 5px;
        font-size: medium;
    }
    
    .col1 h4 {
        padding-bottom: 20px;
    
    }
    
    .col2 {
        padding: 5px 10px;
        margin-left: 5px;
        font-size: medium;
    }
    
    .col2 h4 {
        padding-bottom: 20px;
    }
    
    .col3 
    {
        padding: 5px 10px;
        margin-left: 5px;
        font-size: medium;
    }
    
    .col3 h4 {
        padding-bottom: 20px;
    }
    
    .col4 {
        padding: 5px 10px;
        margin-left: 5px;
        font-size: medium;
    }
    
    .col4 h4 {
        padding-bottom: 20px;
    }
    
    .col5 {
        padding: 5px 10px;
        margin-left: 5px;
        font-size: medium;
    }

    .col5 h4 {
        padding-bottom: 20px;
    }

    .searchbar {
        display: flex;
    }

    .ftr_searchbar {
        border-radius: 25px 0px 0px 25px;
        border: 0px;
        padding-left: 10px;
        width: 200px;
        font-size: small;
    }

    .ftr_submit {
        width: 30px;
        background-color: #F9D342;
        height: 30px;
        border-radius: 0px 25px 25px 0px;
        border: 0px;
    }

    .followus {
        color: #ffffff;
        font-family: "Poppins", Sans-serif;
        font-size: 18px;
        font-weight: 600;
        line-height: 3;
    }

    .ftr_logos {
        font-size: 25px;
        word-spacing: 15px;
    }

    /*  */
    .topnav {
        overflow: hidden;
        background-color: gray;
        position: relative;
      }
      
      /* Hide the links inside the navigation menu (except for logo/home) */
      .topnav #myLinks {
        display: none;
      }
      
      /* Style navigation menu links */
      .topnav a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
      }
      
      /* Style the hamburger menu */
      .topnav a.icon {
        background: black;
        display: block;
        position: absolute;
        right: 30px;
        top: 0;
      }
      
      /* Add a grey background color on mouse-over */
      .topnav a:hover {
        background-color: #ddd;
        color: black;
      }
      
      /* Style the active link (or home/logo) */
      .active {
        background-color: #04AA6D;
        color: white;
      }
      .box_container{
        display: grid;
        grid-template-columns: 100%;
        background-color: orange;
        width: 80%;
        margin-top: 10px;
        margin-left: 25px;
        border-radius: 20px;
       
    }
    .box_container h2{
        margin-top: 20px;
    }
    .box_info{
        margin-top: 0px;
        margin-bottom: 0px;
        text-align: center;
        color: white;
    }
    .box_btn{
        margin-left: 50px;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .box_btn button{
        border: none;
        background-color: black;
        color: white;
        height: 50px;
        width: 200px;
        border-radius: 50px;

    }


    
    

    
}